logs/*
.DS_Store
dist
release
.venv
*.pyc
*.pyo
__pycache__/
*.pyd
*.pyw
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info